extends layout
block content
  link(rel="stylesheet" type="text/css" href="css/code.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script.
    show = (obj) => {
      obj.style.visibility = "visible"
    }
    
    hide = (obj) => {
      if (obj.locked == false){
        obj.style.visibility = "hidden"
      }
    }
    
    toggle_lock = (obj) => {
      obj.locked = !obj.locked
      return(obj)
    }
    
    hide_show_toggle = (obj) => {
      if(obj.innerHTML=="Hide Comments"){
        obj.innerHTML="Show Comments"
      }
      else if(obj.innerHTML=="Show Comments"){
        obj.innerHTML="Hide Comments"
        }
      return(obj)
    }
  if articles
    div(id="unclassified-articles") 
      h3(class="article-type") Unclassified Articles
      ul 
        each article in articles
          div(id= "article_"+article.id, class='article-div')
            li(id= "section_"+article.id)
              a(href= article.url, id="link_to_"+article.id,) #{article.title}
              button(href= "articles/addcomment", id= "show_"+article.id, style="visibility:hidden", class="show_btn", article_id= article.id) Show Comments
              script.
      
                //var b_id = !{JSON.stringify(article.id)}
                //var comments = !{JSON.stringify(article.comments)}
                //var link = document.getElementById("section_"+b_id)
                //var show_btn = document.getElementById("show_"+b_id)
                //link.onmouseover = () => { show(show_btn) } 
                //link.onmouseout = () => { hide(show_btn) }
                
                // changer = function(element){
                //  $(element).html("Changes")
                // }
                
                // $(".show_btn").click(() => {
                //  changer(this)
                  
                  //show_btn = toggle_lock(show_btn);
                  //show_btn = hide_show_toggle(show_btn);
                  //for (i=0; i < comments.length; i++){
                  //  console.log(comments[i])
                  //  }                
                  //}
                  //)

                  

            div(id= "comments_for_"+article.id)            
  else
    p No articles found!   
  script.
    $(".article-div").mouseover(() => {
      for elem in document.getElementById
      var b = $(this).children().find(".show_btn")//.css("visibility")="visible"
      console.log(b)
    })
    
    $(".show_btn").click(() => {
      console.log("clicked")
    })
    
